 body {
    font-family: "Poppins", sans-serif;
    background-color:hsla(212, 46%, 89%, 1.00)
 }

 .qr-card{
    background-color:#fff;
    text-align: center;
    border-radius: 12px;
     max-width: 300px;
     margin: 0 auto;
    margin-top: 20vh;
     padding: 8px;
 }
 .qr-card img{
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
 }

.qr-card h2{
     font-size:  15px;
     font-weight: 700;
 }

 .qr-card p{
    color:#c4c1c1;
    text-align: center;
 }

 .attribution{
     margin-top: 80px;
     text-align: center;
 }